
input {
    border: 0;
    outline: none;
}
.addBlog {
    margin: 20px;
}
.addBlog input[type='text'] {
    border: 1px solid #994868;
}

.form-control {
    height: 58px !important;
    border: 1px solid #994868 !important;

}


.addBlog .btn-default {
    color: white;
    background-color: #994868;
    border-color: #994868;
    width: 120px;
    height: 40px;
}
/**
分页样式
 */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #994868;
    color: white;
    border: 1px solid #994868;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

div.center {
    text-align: center;
}